body {
  max-width: 800px;
  margin: 0 auto;
  background-color: #333;
  color: #fff;
  font-family: Helvetica;
  line-height: 1.5;
}

table,
th,
td {
  border: 1px solid #fff;
  border-collapse: collapse;
  padding: 0.5rem;
}

table caption {
  border: 1px solid #fff;
  border-bottom: none;
  padding: 0.5rem;
}

a {
    color: aliceblue;
}

a:visited {
    color: lightgray;
}

a:hover, a:active {
    color: #eee;
}

input, textarea {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: none;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
}
